In [1]:
import os
os.getcwd()

'/Users/suryayalavarthi/Downloads/household_finance_lab/notebooks'

In [2]:
os.chdir("..")
os.getcwd()

'/Users/suryayalavarthi/Downloads/household_finance_lab'

In [3]:
os.listdir()

['.DS_Store', 'docs', 'scripts', '.git', 'data', 'outputs', 'notebooks']

In [4]:
os.listdir("data/raw")

['Banking_Transactions_USA_2023_2024.csv']

In [5]:
import pandas as pd

df = pd.read_csv("data/raw/Banking_Transactions_USA_2023_2024.csv")
df.head()

,Transaction_ID,Account_Number,Transaction_Date,Transaction_Amount,Merchant_Name,Transaction_Type,Category,City,Country,Payment_Method,Customer_Age,Customer_Gender,Customer_Occupation,Customer_Income,Account_Balance,Transaction_Status,Fraud_Flag,Discount_Applied,Loyalty_Points_Earned,Transaction_Description
0,bdd640fb-0667-4ad1-9c80-317fa3b1799d,IUPM04409079772781,2023-11-05 15:54:38,3198.94,Houston Group,Debit,Transport,Phoenix,USA,Online Transfer,55,Others,Quality manager,80466.03,350.28,Failed,No,True,304,Recently company detail form range a.
1,23b8c1e9-3924-46de-beb1-3b9046685257,BLAT22216107051843,2024-04-21 22:21:55,129.93,Anderson-Phillips,Credit,Grocery,Philadelphia,USA,Debit Card,26,Others,Civil Service fast streamer,145574.25,9797.81,Pending,Yes,False,383,Anything son baby power heart will not up.
2,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,UTXA55295806601382,2023-07-17 13:25:56,1378.77,Jensen Group,Credit,Shopping,New York,USA,Debit Card,29,Others,"Pilot, airline",33447.18,12399.85,Failed,Yes,False,497,Form world around green bar environment pattern.
3,972a8469-1641-4f82-8b9d-2434e465e150,XICF70493862044851,2023-06-27 16:09:52,1119.94,"Nelson, Gomez and Rodriguez",Credit,Healthcare,Dallas,USA,Online Transfer,60,Male,"Radiographer, therapeutic",108801.45,16057.64,Failed,Yes,True,495,Order evening source these opportunity trade i...
4,17fc695a-07a0-4a6e-8822-e8f36c031199,KOSW19711121259020,2024-03-26 23:45:31,3683.67,Caldwell Group,Credit,Entertainment,San Jose,USA,E-Wallet,29,Others,Diplomatic Services operational officer,100985.12,14940.54,Failed,Yes,True,292,Exactly politics door suggest.

In [6]:
#Step 1 — Snapshot

In [7]:
df.shape

(5389, 20)

In [8]:
df.columns

Index(['Transaction_ID', 'Account_Number', 'Transaction_Date',
       'Transaction_Amount', 'Merchant_Name', 'Transaction_Type', 'Category',
       'City', 'Country', 'Payment_Method', 'Customer_Age', 'Customer_Gender',
       'Customer_Occupation', 'Customer_Income', 'Account_Balance',
       'Transaction_Status', 'Fraud_Flag', 'Discount_Applied',
       'Loyalty_Points_Earned', 'Transaction_Description'],
      dtype='object')

In [9]:
df.head(3)

,Transaction_ID,Account_Number,Transaction_Date,Transaction_Amount,Merchant_Name,Transaction_Type,Category,City,Country,Payment_Method,Customer_Age,Customer_Gender,Customer_Occupation,Customer_Income,Account_Balance,Transaction_Status,Fraud_Flag,Discount_Applied,Loyalty_Points_Earned,Transaction_Description
0,bdd640fb-0667-4ad1-9c80-317fa3b1799d,IUPM04409079772781,2023-11-05 15:54:38,3198.94,Houston Group,Debit,Transport,Phoenix,USA,Online Transfer,55,Others,Quality manager,80466.03,350.28,Failed,No,True,304,Recently company detail form range a.
1,23b8c1e9-3924-46de-beb1-3b9046685257,BLAT22216107051843,2024-04-21 22:21:55,129.93,Anderson-Phillips,Credit,Grocery,Philadelphia,USA,Debit Card,26,Others,Civil Service fast streamer,145574.25,9797.81,Pending,Yes,False,383,Anything son baby power heart will not up.
2,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,UTXA55295806601382,2023-07-17 13:25:56,1378.77,Jensen Group,Credit,Shopping,New York,USA,Debit Card,29,Others,"Pilot, airline",33447.18,12399.85,Failed,Yes,False,497,Form world around green bar environment pattern.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5389 entries, 0 to 5388
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Transaction_ID           5389 non-null   object
 1   Account_Number           5389 non-null   object
 2   Transaction_Date         5389 non-null   object
 3   Transaction_Amount       5389 non-null   float64
 4   Merchant_Name            5389 non-null   object
 5   Transaction_Type         5389 non-null   object
 6   Category                 5389 non-null   object
 7   City                     5389 non-null   object
 8   Country                  5389 non-null   object
 9   Payment_Method           5389 non-null   object
 10  Customer_Age             5389 non-null   int64
 11  Customer_Gender          5389 non-null   object
 12  Customer_Occupation      5389 non-null   object
 13  Customer_Income          5389 non-null   float64
 14  Account_Balance          5389 non-null   float64
 15  Transaction_Status       5389 non-null   object
 16  Fraud_Flag               5389 non-null   object
 17  Discount_Applied         5389 non-null   bool
 18  Loyalty_Points_Earned    5389 non-null   int64
 19  Transaction_Description  5389 non-null   object
dtypes: bool(1), float64(3), int64(2), object(14)
memory usage: 805.3+ KB

In [11]:
#Step 2 — Create the “core transactions” dataframe

In [14]:
import pandas as pd

df_tx = df.rename(columns={
    "Transaction_ID": "transaction_id",
    "Account_Number": "account_id",
    "Transaction_Date": "date",
    "Transaction_Amount": "amount",
    "Merchant_Name": "merchant",
    "Category": "raw_category"
})

df_tx = df_tx[["transaction_id", "account_id", "date", "amount", "merchant", "raw_category"]].copy()

df_tx.head(3)

,transaction_id,account_id,date,amount,merchant,raw_category
0,bdd640fb-0667-4ad1-9c80-317fa3b1799d,IUPM04409079772781,2023-11-05 15:54:38,3198.94,Houston Group,Transport
1,23b8c1e9-3924-46de-beb1-3b9046685257,BLAT22216107051843,2024-04-21 22:21:55,129.93,Anderson-Phillips,Grocery
2,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,UTXA55295806601382,2023-07-17 13:25:56,1378.77,Jensen Group,Shopping

In [15]:
#Step 3 — Parse dates

In [16]:
df_tx["date"] = pd.to_datetime(df_tx["date"], errors="coerce")

invalid_dates = df_tx["date"].isna().sum()
invalid_dates

np.int64(0)

In [17]:
df_tx["date"].min(), df_tx["date"].max()

(Timestamp('2023-01-21 08:42:42'), Timestamp('2025-01-20 12:21:18'))

In [18]:
#Step 4 — Standardize amounts

In [19]:
df_tx["amount"] = pd.to_numeric(df_tx["amount"], errors="coerce")

missing_amounts = df_tx["amount"].isna().sum()
missing_amounts

np.int64(0)

In [20]:
df_tx["amount"].describe()

count    5389.000000
mean     2504.649200
std      1426.745115
min         5.460000
25%      1283.340000
50%      2521.670000
75%      3715.920000
max      4999.540000
Name: amount, dtype: float64

In [21]:
#Step 5 — Clean text fields (merchant/category)

In [22]:
df_tx["merchant"] = df_tx["merchant"].astype(str).str.strip().str.lower()
df_tx["raw_category"] = df_tx["raw_category"].astype(str).str.strip().str.lower()

In [23]:
(df_tx["merchant"].isin(["", "nan", "none"])).sum()

np.int64(0)

In [24]:
#Step 6 — Remove duplicates

In [25]:
dup_count = df_tx.duplicated(subset=["date", "amount", "merchant"]).sum()
dup_count

np.int64(0)

In [26]:
before = len(df_tx)
df_tx = df_tx.drop_duplicates(subset=["date", "amount", "merchant"]).copy()
after = len(df_tx)

before, after, before - after

(5389, 5389, 0)

In [27]:
#Step 7 — Missing value report

In [28]:
df_tx.isna().sum()

transaction_id    0
account_id        0
date              0
amount            0
merchant          0
raw_category      0
dtype: int64

In [29]:
#Step 8 — Save cleaned transactions output

In [30]:
output_path = "data/cleaned/transactions_clean.csv"
df_tx.to_csv(output_path, index=False)

output_path

'data/cleaned/transactions_clean.csv'

In [31]:
import os
os.path.exists("data/cleaned/transactions_clean.csv")

True

In [32]:
# Subtask B – Accounts Table Creation

In [33]:
# Number of unique accounts
df_tx["account_id"].nunique()

5389

In [34]:
df_tx["account_id"].value_counts().head()

account_id
IUPM04409079772781    1
IIBK85659519743950    1
ZELY77416165665764    1
YKWM94146735928396    1
UNHA04335901564075    1
Name: count, dtype: int64

In [35]:
accounts_df = (
    df_tx[["account_id"]]
    .drop_duplicates()
    .assign(
        account_type="checking",
        interest_rate=None,
        credit_limit=None
    )
    .reset_index(drop=True)
)

accounts_df.head()

           account_id account_type interest_rate credit_limit
0  IUPM04409079772781     checking          None         None
1  BLAT22216107051843     checking          None         None
2  UTXA55295806601382     checking          None         None
3  XICF70493862044851     checking          None         None
4  KOSW19711121259020     checking          None         None

In [36]:
output_path = "data/cleaned/accounts_clean.csv"
accounts_df.to_csv(output_path, index=False)

import os
os.path.exists(output_path)

True

In [37]:
import pandas as pd

df_tx = pd.read_csv("data/cleaned/transactions_clean.csv")
accounts_df = pd.read_csv("data/cleaned/accounts_clean.csv")

df_tx.shape, accounts_df.shape

((5389, 6), (5389, 4))

In [38]:
account_ids = accounts_df["account_id"].astype(str).unique().tolist()
selected_accounts = account_ids[:5] if len(account_ids) >= 5 else account_ids

templates = [
    {"current_balance": 5200.00,  "interest_rate": 22.9, "minimum_payment": 160.00},
    {"current_balance": 12400.00, "interest_rate": 7.2,  "minimum_payment": 275.00},
    {"current_balance": 8600.00,  "interest_rate": 9.9,  "minimum_payment": 210.00},
    {"current_balance": 3100.00,  "interest_rate": 19.5, "minimum_payment": 95.00},
    {"current_balance": 17800.00, "interest_rate": 5.9,  "minimum_payment": 320.00},
]

debts_rows = []
for i, acc in enumerate(selected_accounts):
    t = templates[i % len(templates)]
    debts_rows.append({
        "debt_id": f"D{i+1}",
        "account_id": str(acc),
        "current_balance": float(t["current_balance"]),
        "interest_rate": float(t["interest_rate"]),
        "minimum_payment": float(t["minimum_payment"]),
    })

df_debts = pd.DataFrame(debts_rows)
df_debts

  debt_id          account_id  current_balance  interest_rate  minimum_payment
0      D1  IUPM04409079772781           5200.0           22.9            160.0
1      D2  BLAT22216107051843          12400.0            7.2            275.0
2      D3  UTXA55295806601382           8600.0            9.9            210.0
3      D4  XICF70493862044851           3100.0           19.5             95.0
4      D5  KOSW19711121259020          17800.0            5.9            320.0

In [39]:
output_path = "data/cleaned/debts_clean.csv"
df_debts.to_csv(output_path, index=False)

import os
os.path.exists(output_path), len(df_debts)

(True, 5)